{% extends 'doce_vitta/base.html' %}
{% load static %}
{% block content %}
        <main>
            {% if messages %}
            <div class="alert-messages margem-up">
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} text-center font-style">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <div class="container">

                
                <div class="row justify-content-center mt-0">
                    <div class="col-md-8 blueground text-center">  
                            <h5 class="my-5">CONDOMÍNIO TRÊS COELHO</h5>
                            <h5 class="my-5">LEITURA DE GÁS JULHO/2024</h5>
                    </div>                        
                </div>                        
                            
                            
                <div class="row justify-content-center mt-0">
                    <div class="col-md-8 blueground">
                        <h5 class="mt-5 mb-5 text-center">INSIRA OS DADOS DE SUA LEITURA</h5>

                        <form class="px-5" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="apartamento" class="form-label font-style">APARTAMENTO</label>
                                <select class="form-select font-style" id="apartamento" name="apartamento" required>
                                    <option value="">Selecione seu apto</option>
                                    {% for apt in apartamentos %}
                                    <option value="{{ apt.id }}">{{ apt.apartamento }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
  
                                <label for="leitura" class="form-label font-style">INFORME SUA LEITURA</label>
                                <input type="text" class="form-control font-style" id="leitura" name="valor_leitura" placeholder="00000.000" pattern="^\d{0,5}(\.\d{1,3})?$" title="Por favor, insira até 5 dígitos antes do ponto e até 3 dígitos após o ponto.">
                                <span class="text-warning">00000.000 (Preencha nesse formato)</span>
                                <p class="text-warning">Para separar os números em vermelho de seu relógio utilize " . "<p>
                                
                            </div>

                            <div class="mb-3">
                                <label for="foto_relogio" class="form-label font-style">ANEXE A FOTO DO SEU RELÓGIO DE GÁS</label>
                                <input type="file" class="form-control font-style" id="foto_relogio" name="foto_relogio">
                            </div>

                            <h5 class="text-center mt-5">Por favor verifique os dados antes de enviar!</h5>

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn rounded-circle btn-yellow wh-100 mt-5 mb-5">ENVIAR</button>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
