{% extends 'doce_vitta/base.html' %}
{% load static %}
{% block content %}
        <main>
            {% if messages %}
                <div class="alert-messages margem-up">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} text-center font-style">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="row mt-5 margem-up">
                <div class="col-md-3">
                </div> 
                <div class="col-md-6 text-center blueground">
                    <h2 class="mt-3 mb-3">Muito Obrigado !!!</h1>
                </div>
                <div class="col-md-3">
                </div>
            </div>

            <div class="row mt-5 margem-up">
                <div class="col-md-3">
                </div> 
                <div class="col-md-6 text-center">
                    <h1 class="mt-5 mb-5"></h1>
                </div>
                <div class="col-md-3">
                </div>
            </div>

            <div class="row mt-5 margem-up">
                <div class="col-md-3">
                </div> 
                <div class="col-md-6 text-center">
                    <h1 class="mt-5 mb-5"></h1>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </main>        
{% endblock %}