{% load static %}

        <footer class="py-5">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-12 col-sm-10 col-md-6 mb-3 mt-5">
                        <img src="{% static 'assets/images/logoln.png' %}" class="img-fluid" alt="Logo">
                        <p class="footer-font">contato@leituranova.com.br</p>
                        <p class="footer-font">(11) 93362-0044</p>
                    </div>
                </div>
            </div>
        </footer>

