
{% load static %}
        <header class="d-flex flex-wrap justify-content-center justify-content-md-between">
            <div class="d-flex align-items-center mb- mb-md-0 me-md-auto text-decoration-none" style="justify-content: center; flex-grow: 1;">
                <img src="{% static '/assets/images/logoln.png' %}" class="ms-md-5" width="261" height="80" alt="" style="margin-right: auto; margin-left: auto;">
            </div>
            {% comment %} <ul class="nav m-4 justify-content-center">
                <li class="nav-item"><a href="http://www.leituranova.com.br/" class="nav-link" aria-current="page">HOME</a></li>
                <li class="nav-item"><a href="http://www.leituranova.com.br/" class="nav-link" aria-current="page">QUEM SOMOS</a></li>
                <li class="nav-item"><a href="http://www.leituranova.com.br/" class="nav-link" aria-current="page">MEDIÇÃO DE ÁGUA E GÁS</a></li>
                <li class="nav-item"><a href="http://www.leituranova.com.br/" class="nav-link" aria-current="page">SOLICITE SUA PROPOSTA</a></li>
            </ul> {% endcomment %}
        </header>

