{% load static %}
        <header class="d-flex flex-wrap justify-content-center">
            <div class="d-flex align-items-center mb- mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="{% static '/assets/images/logoln.png' %}" class="ms-5" width="261" height="80" alt="">
            </div>
            <ul class="nav m-4 m-4">
                <li class="nav-item"><a href="http://www.leituranova.com.br/" class="nav-link" aria-current="page">HOME</a></li>
                <li class="nav-item"><a href="http://www.leituranova.com.br/" class="nav-link" aria-current="page">QUEM SOMOS</a></li>
                <li class="nav-item"><a href="http://www.leituranova.com.br/" class="nav-link" aria-current="page">MEDIÇÃO DE ÁGUA E GÁS</a></li>
                <li class="nav-item"><a href="http://www.leituranova.com.br/" class="nav-link" aria-current="page">SOLICITE SUA PROPOSTA</a></li>
            </ul>
        </header>